<?xml version="1.0" encoding="UTF-8" ?>
<!--
	This file provides out-of-the-box support for (some) ASP.NET (IIS) configurations.
	Feel free to remove it, if you are not using IIS as a web server.
-->
<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.php" />
			</files>
		</defaultDocument>
		<rewrite>
			<rules>
				<rule name="Favicon" stopProcessing="true">
					<match url="^(favicon.ico)$" ignoreCase="false" />
					<action type="Rewrite" url="/app/webroot/favicon.ico" />
				</rule>
				<rule name="Assets" stopProcessing="true">
					<match url="^(css|js|img)/(.*)$" ignoreCase="false" />
					<action type="Rewrite" url="/app/webroot/{R:1}/{R:2}" />
				</rule>
				<rule name="Routes" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<action type="Rewrite" url="/app/webroot/index.php?url={R:1}" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>